@import "~bootstrap/scss/bootstrap";

body {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

.controls {
    min-height: 172px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
