body {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

button {
    font-size: 1em;
    padding: 15px 32px;
}

#main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.first_level_container {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

#overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card, .cardCopy {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

.selected {
    border: 2px solid rgb(249, 96, 72);
}

.card:hover {
    background-color: rgb(145, 208, 247);
}
